.youtubeCard {
  display: flex;
  flex-direction: column;
  margin: 16px;
  width: 100%;
  max-width: 320px;
}
.thumbnail {
  background-color: #ddd;
  height: 200px;
}

.content {
  padding: 20px;
}

.title {
  font-size: 20px;
  margin: 0 0 8px;
}

.description {
  font-size: 16px;
}

/* Media queries */

@media (max-width: 575px) {
  .youtubeCard {
    max-width: 280px;
  }
  .thumbnail {
    height: 200px;
  }

  .title {
    font-size: 22px;
  }

  .description {
    font-size: 12px;
  }
}

/* Mobiles */
@media (min-width: 576px) {
  .youtubeCard {
    max-width: 280px;
  }
  .thumbnail {
    height: 140px;
  }

  .title {
    font-size: 22px;
  }

  .description {
    font-size: 12px;
  }
}
/* Tablets */
@media (min-width: 768px) {
  .youtubeCard {
    max-width: 300px;
  }

  .thumbnail {
    height: 160px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }
}
/* laptops */
@media (min-width: 992px) {
  .youtubeCard {
    max-width: 360px;
  }

  .thumbnail {
    height: 180px;
  }

  .title {
    font-size: 26px;
  }

  .description {
    font-size: 16px;
  }
}
/* desktops */
@media (min-width: 1200px) {
  .youtubeCard {
    max-width: 360px;
  }

  .thumbnail {
    height: 200px;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 18px;
  }
}
